.icon-white {
    color: #fbfff4 !important;
}

#img_contain {
    display: inline-block;
    position: relative;
}
#image-preview {
    height: 150px;
    width: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 8px #ccc;
    border-radius: 5px;

    padding: 4px;
    display: none;
}
#image-preview.show {
    display: block;
}

input {
    width: 100%;
}

[class*="close-"] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

.close-classic:after {
    content: "X"; /* ANSI X letter */
}

.close-thin:after {
    content: "×"; /* UTF-8 symbol */
}

.close-thik:after {
    content: "✖"; /* UTF-8 symbol */
}

.category-filter select {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

#myTable tr {
    height: 40px;
}
