.icon-white {
    color: #fbfff4 !important;
}

#img_contain {
    display: block;
}
#image-preview {
    height: 250px;
    width: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 8px #ccc;
    border-radius: 5px;
    padding: 4px;
    display: none;
}
#image-preview.show {
    display: block;
}

input {
    width: 100%;
}
